@model MvcBasics.Models.Student
@{
    ViewData["Title"] = "ById";
}

<h1>ById</h1>
<div>
    <ul>
        <li>@Model.FirstName</li>
        <li>@Model.LastName</li>
        <li>@Model.Age</li>
    </ul>
</div>

