@model IEnumerable<Student>
@{
    ViewData["Title"] = "Students List";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered">
@foreach (var student in Model)
{
    <tr>
        <td>@student.FirstName</td>
        <td>@student.LastName</td>
        <td>@student.Age</td>
    </tr>
}
</table>

